@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600&display=swap&subset=latin-ext');
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');
@import "variables";

@import "~bulma";
@import "~bulma-extensions";
@import "~buefy/src/scss/buefy";

body {
  font: 100% $main-font;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0!important;
}
.my-1 {
  margin-top: 1em !important;
  margin-bottom: 1em!important;
}
.mx-1 {
  margin-left: 0.1em !important;
  margin-right: 0.1em !important;
}
.mx-2 {
  margin-left: 0.2em !important;
  margin-right: 0.2em !important;
}
.mx-3 {
  margin-left: 0.3em !important;
  margin-right: 0.3em !important;
}
.mx-4 {
  margin-left: 0.4em !important;
  margin-right: 0.4em !important;
}
.mx-5 {
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.ma-auto {
  margin: auto;
}
.is-align-self-center {
  align-self: center;
}

.centered {
  position: absolute;
  transform: translate(-50%, 5px);
  left: 50%;
}

.navbar-burger {
  margin-left: 0 !important;
  margin-right: auto !important;
}


@media (min-width: $desktop) {
  .title.is-1 {
    font-size: 4.5rem;
  }
  .subtitle.is-3 {
    font-size: 3.5rem;
  }
}

.has-text-primary {
  color: $primary !important;
}

.layout-enter-active,
.layout-leave-to {
  transition: opacity .5s;
}

.layout-enter,
.layout-leave-to {
  opacity: 0;
}

.animate-enter {
  transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}

.expand-enter-active,
.expand-leave-active {
  transition-property: height;
  transition-duration: 5s;
}

.is-bordered {
  border: 1px solid $primary;
}

.is-quater-screen{
  height: 25vh;
  width: auto;
  figure, img {
    height: 100%; //FIXME: Implement proper img editor
    width: 100%;
    object-fit: cover;
  }
}
.is-half-screen {
  height: 50vh;
  width: auto;

  figure, img {
    height: 100%; //FIXME: Implement proper img editor
    width: 100%;
    object-fit: cover;
  }
}

.button {
  &.is-borderless {
    border: none;
  }
}

.is-aligned-right {
  margin-right: 0;
  margin-left: auto;
  position: relative;
  right: 0;
}

.is-sticky {
  position: sticky;

  &.is-sticky-bottom {
    bottom: 0;

  }
}

.is-spaced {
  margin: 2em auto;
}

.is-padded {
  margin: 1em;
}

.is-align-bottom {
  top: auto;
}

.post-content {
  display: flex;
  flex-grow: 1;
  overflow-y: scroll;
}

.post-modal {
  margin: 0 auto !important;

  .title,
  .content {
    color: rgba(255, 255, 255, 0.85) !important;
  }
}

.is-white {
  color: rgba(255, 255, 255, 0.5);
}

.is-translucent {
  filter: opacity(75%);
}

.is-square {
  width: 20vw;
  height: 20vw;
}

.is-margin-auto {
  margin: auto;
}

.is-red {
  color: #fff
}
.recipe-steps {
  overflow-y: scroll;
  max-height: 80vh;
  overflow-x: hidden;

  .card.is-centered {
    padding: 0.5em;
    height: inherit;
    box-shadow: 0 -1px 1px 0px rgba(10, 10, 10, 0.1);

    figure.image {
      margin: 0;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

  }
}
.editable.slidingElement {
  transform: translateX(50%);
  transition: all 1s;

  &::after{
    content: '';
    position: absolute;
    background-color: rgb(160, 31, 31);
    height: 100%;
    width: calc(100% - 1em);
    z-index: 9;
    opacity: 0.9;
    top: 0;
  }
}

.modal {
  .card {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: transparent;
    justify-content: center;
    box-shadow: 0 -1px 1px 0px rgba(10, 10, 10, 0.1);

    &.modal-white {
      background-color: #fff;

      &+button:before,
      &+button:after {
        background-color: $primary;
      }
    }

    .card-content {
      padding: 1.5rem;
      color: #fff;

      .title {
        color: #fff;
      }

      .content {
        overflow-wrap: break-word;
      }
    }



    &.recipe-content {
      background-color: #fff;
      color: $primary;
      justify-content: start;

      .title,
      .subtitle,
      .content {
        color: $primary;
      }

      &.card {
        margin: 0 auto;

        .card-content {
          padding: 1em;

          .content {
            .is-unspaced {
              margin: 0.5em auto;
            }

            .is-justify {
              margin-left: 0;
              margin-right: 0;
            }


          }
        }
      }
    }
  }
}

