$primary: rgb(67, 52, 44);
$primary-light: rgba(67, 52, 44, 0.7);
$secondary: #6c2e08;
$secondary-light: rgba(90, 45, 18, 0.6);

$primary-inverted : #fff;
$main-font: 'Ruleway', sans-serif;
$link: $primary;
$radius: 0;
// $divider-content-background-color: rgba(0,0,0,0);
$divider-background-color: $primary;
$label-color: $primary;
