<template>
  <div v-touch:swipe.left="navigateToRecipes" class="container animate-enter">
    <Note v-for="(note, index) in notes" :key="index" :note="note" />
    <client-only>
      <InfiniteLoading @infinite="infiniteScroll">
        <template v-slot:no-more>&nbsp;</template>
        <template v-slot:no-results>&nbsp;</template>
      </InfiniteLoading>
    </client-only>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import InfiniteLoading from 'vue-infinite-loading'
import { backButtonMixin } from '~/mixins/BackButtonEventMixin.js'
import { GET_NOTES_ACTION } from '~/action-types'
import Note from '~/components/Note'

export default {
  components: {
    Note,
    InfiniteLoading
  },
  mixins: [backButtonMixin],
  layout: 'feed',
  transition: 'slide-right',
  computed: {
    ...mapState({
      notes: (state) => state.notes.notes
    })
  },
  methods: {
    ...mapActions('notes', [GET_NOTES_ACTION]),
    infiniteScroll($state) {
      this[GET_NOTES_ACTION]({
        loader: $state,
        user: null
      })
    },
    navigateToRecipes() {
      this.$router.push('/recipes')
    }
  }
}
</script>
