<template>
  <div>
    <full-page id="fullpage" ref="fullpage" :options="options">
      <div class="section" data-anchor="section">
        <section id="section0" class="hero slide">
          <div class="hero-body">
            <h1 class="title is-1">
              Welcome to <span>Cof<span>feed</span>ly</span>
            </h1>
            <h3 class="subtitle is-3">Your place in the world of coffee</h3>
          </div>
        </section>
        <section id="section1" class="hero slide">
          <div class="hero-body">
            <h1 class="title is-1">Show</h1>
            <h3 class="subtitle is-3">Your amazing work</h3>
          </div>
        </section>
        <section id="section2" class="hero slide">
          <div class="hero-body">
            <h1 class="title is-1">Rate</h1>
            <h3 class="subtitle is-3">Tell the world your opinion</h3>
          </div>
        </section>
        <section id="section3" class="hero slide">
          <div class="hero-body">
            <h1 class="title is-1">Discover</h1>
            <h3 class="subtitle is-3">New and amazing coffee</h3>
          </div>
        </section>
        <section id="section4" class="hero slide">
          <div class="hero-body">
            <div class="columns">
              <div class="column">
                <AuthForm />
              </div>
            </div>
          </div>
        </section>
      </div>
    </full-page>
    <div v-show="!isLastSlide" class="bottom-links">
      <a href="#section/4">
        skip
      </a>
    </div>
  </div>
</template>

<script>
import AuthForm from '~/components/AuthForm.vue'

export default {
  name: 'HomePage',

  components: {
    AuthForm
  },
  data() {
    return {
      isLastSlide: false,
      options: {
        licenseKey: '',
        controlArrows: false,
        slidesNavigation: true,
        loopHorizontal: false,
        scrollHorizontal: true,
        afterSlideLoad: this.afterLoad
      }
    }
  },
  watch: {
    isLastSlide(newVal, oldVal) {
      this.options.slidesNavigation = newVal !== true // hide navigation if on last slide
    }
  },
  methods: {
    afterLoad() {
      this.isLastSlide = this.$refs.fullpage.api.getActiveSlide().isLast
    }
  }
}
</script>
<style scoped lang="scss">
@import '~assets/scss/variables.scss';
.fp-table {
  background-size: cover;
  background-position: center;
}
.section {
  padding: 0;
  .hero-body {
    min-width: 95vw;
    margin-left: auto;
    margin-right: 0;
  }
  .title {
    line-height: 4rem;
  }

  .title,
  .subtitle {
    padding: 10px;
    margin: 5px 0;
    color: $primary-inverted;
    filter: drop-shadow(2px 2px 4px #333);

    span {
      background-color: #fff;
      color: $primary;
      padding: 10px;
      span {
        padding: 0;
        color: $secondary;
      }
    }
  }

  #section0 {
    background-image: url('~assets/img/slide1.jpg');
  }

  #section1 {
    background-image: url('~assets/img/slide2.jpg');
  }

  #section2 {
    background-image: url('~assets/img/slide3.jpg');
  }

  #section3 {
    background-image: url('~assets/img/slide4.jpg');
  }

  #section4 {
    background-image: url('~assets/img/slide5.jpg');
  }
}
</style>

<style lang="scss">
.bottom-links {
  position: absolute;
  bottom: 25px;
  right: 1rem;
  a {
    color: #fff;
  }
}
.fp-slidesNav {
  text-align: center;
  span {
    background: #fff !important;
  }
}
</style>
