<template>
  <div class="container is-desktop animate-enter">
    <section class="section">
      <div class="container">
        <h1 class="title">
          <b-button
            tag="NuxtLink"
            to="/feed"
            class="button is-borderless"
            icon-left="chevron-left"
          />Add recipe
        </h1>
        <ImageUpload
          @imageUploaded="imageUrl"
          @update:imageUrl="imageUrl = $event"
          size="is-quater-screen"
        />
        <b-field label="title" label-position="on-border" class="is-spaced">
          <b-input
            v-model="content.title"
            name="title"
            minlength="10"
            maxlength="20"
          ></b-input>
        </b-field>
        <b-field label="short description" label-position="on-border">
          <b-input
            v-model="content.description"
            name="description"
            type="textarea"
            minlength="5"
            maxlength="100"
          ></b-input>
        </b-field>
        <b-field label="type" label-position="on-border">
          <b-select v-model="content.coffee_type" expanded name="type">
            <option v-for="(typ, index) in types" :key="index" :value="typ">
              {{ typ }}
            </option>
          </b-select>
        </b-field>
        <b-field label="grind" label-position="on-border">
          <b-input
            v-model="content.coffee_grind"
            name="grind"
            minlength="2"
            maxlength="20"
          ></b-input>
        </b-field>
        <b-field label="coffee [g]" label-position="on-border">
          <b-numberinput
            v-model="content.coffee_amount"
            name="coffee"
            step="1"
            min="1"
            max="1000"
          ></b-numberinput>
        </b-field>
        <b-field label="water [ml]" label-position="on-border">
          <b-numberinput
            v-model="content.water_amount"
            name="water"
            step="10"
            min="10"
            max="1000"
          ></b-numberinput>
        </b-field>

        <div class="hero is-spaced is-white">
          <b-field class="is-grouped">
            <b-button
              @click="handleRecipeCreation"
              tag="button"
              class="button is-primary is-aligned-right"
            >
              SAVE
            </b-button>
          </b-field>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { CREATE_RECIPE_ACTION } from '@/action-types'
import ImageUpload from '~/components/ImageUpload.vue'
export default {
  components: {
    ImageUpload
  },
  transition: 'slide-right',
  data() {
    return {
      content: {
        title: '',
        description: '',
        coffee_type: 'V60',
        coffee_grind: 'Medium-fine',
        coffee_amount: 6,
        water_amount: 100
      },
      imageUrl: '',
      types: [
        'AeroPress',
        'AeroPress - Inverted',
        'V60',
        'Chemex',
        'French Press',
        'Moka pot',
        'Espresso',
        'Other'
      ]
    }
  },
  beforeDestroy() {
    this.$root.$off('closeDialog')
    this.$root.$off('postImg:uploaded')
  },
  methods: {
    ...mapActions('recipes', [CREATE_RECIPE_ACTION]),
    handleRecipeCreation() {
      const payload = {
        imageUrl: this.imageUrl,
        user_uid: this.$fireAuth.currentUser.uid,
        ...this.content,
        datetime: Date.now()
      }
      this[CREATE_RECIPE_ACTION](payload).then(() =>
        this.$router.push('/recipes')
      )
    }
  }
}
</script>
