<template>
  <div class="container is-desktop animate-enter">
    <section class="section">
      <div class="container">
        <h1 class="title">
          <b-button
            tag="NuxtLink"
            to="/feed"
            class="button is-borderless"
            icon-left="chevron-left"
          />
          Add note
        </h1>
        <div class="review-wrapper">
          <ImageUpload
            @imageUploaded="imageUrl"
            @update:imageUrl="imageUrl = $event"
            size="is-quater-screen"
          />
          <b-field label="coffee" label-position="on-border" class="is-spaced">
            <b-input v-model="coffee_name"></b-input>
          </b-field>
          <b-field label="notes" label-position="on-border" class="is-spaced">
            <b-input v-model="note_content" type="textarea"></b-input>
          </b-field>
          <div>
            <TasteSelector />
          </div>
        </div>

        <div class="hero is-spaced is-white">
          <b-field class="is-grouped">
            <b-switch v-model="isPrivate" class="is-small">
              Private note
            </b-switch>
            <b-button
              @click="handleNoteCreation"
              class="button is-primary is-aligned-right"
            >
              SAVE
            </b-button>
          </b-field>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import ImageUpload from '~/components/ImageUpload.vue'
import TasteSelector from '~/pages/TasteSelector'
import { CREATE_NOTE_ACTION } from '~/action-types'

export default {
  components: {
    TasteSelector,
    ImageUpload
  },
  transition: 'slide-right',
  data() {
    return {
      isPrivate: true,
      imageUrl: '',
      note_content: '',
      coffee_name: '',
      coffee_taste: ''
    }
  },
  methods: {
    ...mapActions('notes', [CREATE_NOTE_ACTION]),
    handleNoteCreation() {
      const payload = {
        imageUrl: this.imageUrl,
        user_uid: this.$fireAuth.currentUser.uid,
        content: this.note_content,
        coffee_name: this.coffee_name,
        coffee_taste: this.coffee_taste,
        private: this.isPrivate,
        datetime: Date.now()
      }
      this[CREATE_NOTE_ACTION](payload).then(() => this.$router.push('/feed'))
    }
  }
}
</script>
