<template>
  <div v-touch:swipe.right="navigateToRecipes" class="container animate-enter">
    <div class="is-centered">
      <Photo v-for="(photo, index) in photos" :key="index" :photo="photo" />
      <client-only>
        <InfiniteLoading @infinite="infiniteScroll" spinner="spiral">
          <template v-slot:no-more>&nbsp;</template>
          <template v-slot:no-results>&nbsp;</template>
        </InfiniteLoading>
      </client-only>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import InfiniteLoading from 'vue-infinite-loading'
import { GET_PHOTOS_ACTION } from '@/action-types'
import Photo from '~/components/Photo.vue'
import { backButtonMixin } from '~/mixins/BackButtonEventMixin.js'
export default {
  components: {
    Photo,
    InfiniteLoading
  },
  mixins: [backButtonMixin],
  layout: 'feed',
  transition: 'slide-left',
  computed: {
    ...mapState({
      photos: (state) => state.photos.photos
    })
  },
  methods: {
    ...mapActions('photos', [GET_PHOTOS_ACTION]),
    infiniteScroll($state) {
      this[GET_PHOTOS_ACTION]({
        loader: $state,
        user: null
      })
    },
    navigateToRecipes() {
      this.$router.push('/recipes')
    }
  }
}
</script>
