<template>
  <div
    v-touch:swipe.left="navigateToPhotos"
    v-touch:swipe.right="navigateToFeed"
    class="container animate-enter"
  >
    <Recipe v-for="(post, index) in recipes" :key="index" :recipe="post" />
    <client-only>
      <InfiniteLoading @infinite="infiniteScroll">
        <template v-slot:no-more>&nbsp;</template>
        <template v-slot:no-results>&nbsp;</template>
      </InfiniteLoading>
    </client-only>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import InfiniteLoading from 'vue-infinite-loading'
import { GET_RECIPES_ACTION } from '@/action-types'
import Recipe from '~/components/Recipe.vue'
import { backButtonMixin } from '~/mixins/BackButtonEventMixin.js'

export default {
  components: {
    Recipe,
    InfiniteLoading
  },
  mixins: [backButtonMixin],
  layout: 'feed',
  transition(to, from) {
    if (!from) return 'slide-left'
    if (to.path.includes('photos') || from.path.includes('photos'))
      return 'slide-right'
    return 'slide-left'
  },
  computed: {
    ...mapState({
      recipes: (state) => state.recipes.recipes
    })
  },
  methods: {
    ...mapActions('recipes', [GET_RECIPES_ACTION]),
    infiniteScroll($state) {
      this[GET_RECIPES_ACTION]({
        loader: $state,
        user: null
      })
    },
    navigateToFeed() {
      this.$router.push('/feed')
    },
    navigateToPhotos() {
      this.$router.push('/photos')
    }
  }
}
</script>
