<template>
  <div>
    <div class="media-left">
      <figure
        class="image is-128x128 is-squared"
        style="margin: auto; margin-top: 50px"
      >
        <img
          :src="user.photo"
          alt="User avatar"
          class="is-rounded"
          style="object-fit: cover;width: 100%;height: 100%;"
        />
      </figure>
    </div>
    <div class="media-content">
      <p
        class="title is-4"
        style="text-align: center;margin-top: 25px;margin-bottom: 25px"
      >
        {{ user.username }}
      </p>
    </div>
    <b-tabs @input="activeTab = $event" position="is-centered" expanded>
      <b-tab-item label="notes">
        <div class="container animate-enter">
          <Note v-for="(note, index) in notes" :key="index" :note="note" />
        </div>
      </b-tab-item>

      <b-tab-item label="recipes">
        <div class="container is-desktop animate-enter">
          <Recipe
            v-for="(post, index) in recipes"
            :key="index"
            :recipe="post"
          />
        </div>
      </b-tab-item>
      <b-tab-item label="photos">
        <div class="container is-desktop animate-enter">
          <div class="is-centered">
            <Photo
              v-for="(photo, index) in photos"
              :key="index"
              :photo="photo"
            />
          </div>
        </div>
      </b-tab-item>
      <client-only>
        <InfiniteLoading :identifier="activeTab" @infinite="infiniteHandler">
          <template v-slot:no-more>&nbsp;</template>
          <template v-slot:no-results>&nbsp;</template>
        </InfiniteLoading>
      </client-only>
    </b-tabs>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import InfiniteLoading from 'vue-infinite-loading'
import Recipe from '@/components/Recipe'
import Photo from '@/components/Photo'
import { GET_RECIPES_ACTION } from '@/action-types'
import Note from '~/components/Note'
import { GET_NOTES_ACTION, GET_PHOTOS_ACTION } from '~/action-types'
import { FIREBASE_COLLECTION_USERS } from '~/const-types'

export default {
  name: 'Uid',
  components: {
    InfiniteLoading,
    Note,
    Recipe,
    Photo
  },
  layout: 'navbar',
  data() {
    return {
      user: {
        uid: '',
        photo: '',
        username: ''
      },
      activeTab: 0
    }
  },
  computed: {
    ...mapState({
      notes: (state) => state.notes.notes,
      recipes: (state) => state.recipes.recipes,
      photos: (state) => state.photos.photos
    })
  },
  mounted() {
    this.$fireService
      .getDocumentFromCollection({
        collection: FIREBASE_COLLECTION_USERS,
        document: { uid: this.$route.params.uid }
      })
      .then((result) => {
        this.user = result
      })
  },
  methods: {
    ...mapActions('notes', [GET_NOTES_ACTION]),
    ...mapActions('photos', [GET_PHOTOS_ACTION]),
    ...mapActions('recipes', [GET_RECIPES_ACTION]),
    infiniteHandler($state) {
      switch (this.activeTab) {
        case 0:
          this.getUserNotes($state)
          break
        case 1:
          this.getUserRecipes($state)
          break
        case 2:
          this.getUserPhotos($state)
      }
    },
    getUserNotes($state) {
      this[GET_NOTES_ACTION]({
        loader: $state,
        user: { uid: this.$route.params.uid }
      })
    },
    getUserPhotos($state) {
      this[GET_PHOTOS_ACTION]({
        loader: $state,
        user: { uid: this.$route.params.uid }
      })
    },
    getUserRecipes($state) {
      this[GET_RECIPES_ACTION]({
        loader: $state,
        user: { uid: this.$route.params.uid }
      })
    }
  }
}
</script>
