<template>
  <b-navbar ref="navbar" :fixed-top="true">
    <template slot="brand">
      <b-navbar-item :to="{ path: '/' }" tag="router-link" class="centered">
        <img src="~assets/img/logo.svg" alt="Coffeedly" height="28" />
      </b-navbar-item>
    </template>
    <template slot="start">
      <b-navbar-item>
        <nuxt-link to="/feed">
          <img
            src="~assets/img/btn_note_bottom.svg"
            alt="note"
            class="mx-4 nav-img"
          />Coffeed
        </nuxt-link>
      </b-navbar-item>
      <b-navbar-item v-if="this.$device.isDesktop">
        <nuxt-link to="/recipes">recipes</nuxt-link>
      </b-navbar-item>
      <b-navbar-item v-if="this.$device.isDesktop">
        <nuxt-link to="/photos">photos</nuxt-link>
      </b-navbar-item>
      <b-navbar-item>
        <nuxt-link :to="'/profile/' + uid">
          <b-icon icon="user" size="is-small" pack="far" class="mx-4" />
          Profile
        </nuxt-link>
      </b-navbar-item>
    </template>
  </b-navbar>
</template>
<script>
export default {
  name: 'AppNavigation',
  props: {
    uid: {
      type: String,
      default: ''
    }
  }
}
</script>
<style lang="scss">
.navbar-menu {
  width: 0;
  position: absolute;
  display: block !important;
  height: 100vh;
  transition: width 0.5s;

  &.is-active {
    width: 60vw;
  }
  a.navbar-item {
    font-size: 1.2em;

    .nav-img {
      max-height: 1.5rem;
      margin-left: 0.2em;
      vertical-align: middle;
    }
  }
}
</style>
