<template>
  <section class="main-content">
    <b-notification
      v-if="$nuxt.isOffline"
      type="is-danger"
      aria-close-label="Close notification"
      role="alert"
    >
      You're offline!
    </b-notification>
    <nuxt />
  </section>
</template>

<script>
export default {
  mounted() {}
}
</script>
