<template>
  <div>
    <b-notification
      v-if="$nuxt.isOffline"
      type="is-danger"
      aria-close-label="Close notification"
      role="alert"
    >
      You're offline!
    </b-notification>
    <AppNavigation :uid="uid" />

    <div class="container">
      <MiddleNav />
      <div class="content">
        <nuxt />
      </div>
      <transition name="fade" duration="250">
        <BottomNav v-show="!isBottomNavHidden" v-if="!this.$device.isDesktop" />
      </transition>
    </div>
  </div>
</template>

<script>
import MiddleNav from '~/components/MiddleNav.vue'
import BottomNav from '~/components/BottomNav.vue'
import AppNavigation from '~/layouts/AppNavigation'

export default {
  name: 'Feed',
  components: {
    AppNavigation,
    MiddleNav,
    BottomNav
  },
  data() {
    return {
      isBottomNavHidden: false,
      lastScrollPosition: 0,
      isNavbarOpen: null
    }
  },
  computed: {
    uid() {
      return this.$fireAuth.currentUser ? this.$fireAuth.currentUser.uid : ''
    }
  },
  beforeMount() {
    window.addEventListener('scroll', this.handleScroll)
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll)
  },
  methods: {
    handleScroll() {
      if (window.scrollY > 150) {
        this.isBottomNavHidden = this.lastScrollPosition < window.scrollY
        this.lastScrollPosition = window.scrollY
      }
    }
  }
}
</script>
<style lang="scss"></style>
