<template>
  <div>
    <b-notification
      v-if="$nuxt.isOffline"
      type="is-danger"
      aria-close-label="Close notification"
      role="alert"
    >
      You're offline!
    </b-notification>
    <AppNavigation ref="navigation" :uid="uid"></AppNavigation> <nuxt />
  </div>
</template>

<script>
import AppNavigation from '~/layouts/AppNavigation'

export default {
  name: 'Navbar',
  components: { AppNavigation },
  computed: {
    uid() {
      return this.$fireAuth.currentUser ? this.$fireAuth.currentUser.uid : ''
    }
  }
}
</script>
