<template>
  <div class="container">
    <Notification v-if="error" :message="error" />
    <div class="columns">
      <div class="column">
        <b-field label="Username">
          <b-input
            v-model="username"
            type="text"
            required
            placeholder="Username"
            validation-message="Only lowercase is allowed"
            pattern="[a-z|0-9]*"
          ></b-input>
        </b-field>
        <b-field label="E-mail">
          <b-input
            v-model="email"
            type="email"
            required
            placeholder="E-mail"
          ></b-input>
        </b-field>
        <b-field label="Password">
          <b-input
            v-model="password"
            type="password"
            required
            placeholder="Password"
            password-reveal
          ></b-input>
        </b-field>
        <div class="has-text-centered">
          <b-button
            @click="register"
            type="is-primary"
            native-type="submit"
            inverted
          >
            Join
          </b-button>
        </div>
      </div>
      <div class="is-divider-vertical"></div>
      <div class="column">
        <b-field label="Email">
          <b-input v-model="email_login" placeholder="Email"></b-input>
        </b-field>
        <b-field label="Password">
          <b-input
            v-model="password_login"
            placeholder="Password"
            type="password"
          ></b-input>
        </b-field>
        <div class="has-text-centered">
          <b-button
            @click="loginView"
            type="is-primary"
            size="is-medium"
            native-type="submit"
            inverted
          >
            Login
          </b-button>
        </div>
      </div>
    </div>
    <!-- <div class="is-divider" data-content="OR"></div> -->
    <div class="has-text-centered">
      <b-button
        id="login-fb"
        @click="loginFacebook"
        class="is-flex"
        icon-left="facebook-f"
        icon-pack="fab"
      >
        Facebook
      </b-button>
      <br />
      <b-button
        id="login-google"
        @click="loginGoogle"
        class="is-flex"
        icon-left="google"
        icon-pack="fab"
      >
        Google
      </b-button>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import Notification from '~/components/Notification'

export const COLLECTION_USERS = 'users'
export const PATH_FEED = '/feed'
export const ERROR_USER_EXIST = 'User already exist'

export default {
  name: 'AuthForm',

  components: {
    Notification
  },

  data() {
    return {
      username: '',
      email: '',
      password: '',
      email_login: '',
      password_login: '',
      error: null
    }
  },

  created() {
    this.$fireAuth.onAuthStateChanged((user) => {
      if (user != null) {
        this.setUserByFirebaseAuth(user)
        this.$router.push(PATH_FEED)
      }
    })
  },

  methods: {
    ...mapActions('auth', [
      'login',
      'createUser',
      'loginProviders',
      'setUserByFirebaseAuth'
    ]),
    loginView() {
      this.login({
        username: this.email_login,
        password: this.password_login
      }).catch((error) => {
        this.error = error.message
      })
    },
    loginGoogle() {
      const provider = new this.$fireAuthObj.GoogleAuthProvider()
      this.loginProviders(provider).catch((error) => {
        this.error = error.message
      })
    },
    loginFacebook() {
      const provider = new this.$fireAuthObj.FacebookAuthProvider()
      this.loginProviders(provider).catch((error) => {
        this.error = error.message
      })
    },
    register() {
      this.$fireStore
        .collection(COLLECTION_USERS)
        .where('username', '==', this.username)
        .get()
        .then((result) => {
          result.empty
            ? this.createUser({
                email: this.email,
                password: this.password,
                username: this.username
              }).catch((error) => {
                this.error = error.message
              })
            : (this.error = ERROR_USER_EXIST)
        })
        .catch((error) => {
          this.error = error.message
        })
    }
  }
}
</script>
<style scoped lang="scss">
@import 'assets/scss/variables.scss';

#login-fb {
  background-color: #3b5998;
  color: $primary-inverted;
}

#login-fb,
#login-google {
  margin: 0 auto;
  width: 50%;
}
</style>
