<template>
  <div class="level is-mobile bottom-btns">
    <div class="level-item has-text-centered">
      <NuxtLink to="/feed">
        <img src="~assets/img/btn_note_bottom.svg" alt="note" />
        <span>feed</span>
      </NuxtLink>
    </div>
    <div class="level-item has-text-centered">
      <NuxtLink to="/recipes">
        <img src="~assets/img/btn_recipe_bottom.svg" alt="recipe" />
        <span>recipes</span>
      </NuxtLink>
    </div>
    <div class="level-item has-text-centered">
      <NuxtLink to="/photos">
        <img src="~assets/img/btn_photo_bottom.svg" alt="photo" />
        <span>photos</span>
      </NuxtLink>
    </div>
    <!--<div class="level-item has-text-centered">
      <NuxtLink to="/search">
        <b-icon icon="search"></b-icon>
        <span>Search</span>
      </NuxtLink>
    </div>-->
  </div>
</template>
<script>
export default {}
</script>
<style scoped lang="scss">
@import '~assets/scss/variables.scss';
.level {
  &.bottom-btns {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 1rem 0 0.5em;
    transition: all 0.5s;
    border-top: 1px solid $primary; //XXX: Decide if not remove this border

    a:not(.nuxt-link-active) {
      filter: opacity(0.5);
    }
    span:not(.icon) {
      display: block;
      font-size: 0.7em;
    }
  }
}
</style>
