<template>
  <div id="preview" :class="'is-bordered ' + size">
    <figure @click="$refs.file.click()" class="image">
      <b-loading v-model="isUploadingImage" />
      <img v-show="imageUrl" :src="imageUrl" alt="Image" />
      <img v-show="!imageUrl" alt="Image" src="~assets/img/empty_image.png" />
    </figure>
    <input
      ref="file"
      @change="onFileChange"
      type="file"
      style="display: none"
    />
  </div>
</template>

<script>
export default {
  props: {
    size: {
      type: String,
      required: false,
      default: 'is-half-screen'
    }
  },
  data() {
    return {
      isUploadingImage: false,
      imageUrl: ''
    }
  },
  methods: {
    onFileChange(event) {
      const files = event.target.files
      if (!files.length) {
        return
      }
      const file = files[0]

      if (!file.type.match('image.*')) {
        alert('Please upload an image.')
        return
      }

      const metadata = {
        contentType: file.type
      }

      this.isUploadingImage = true

      // Create a reference to the destination where we're uploading
      // the file.
      const imageRef = this.$fireStorage.ref(`images/${file.name}`)

      imageRef
        .put(file, metadata)
        .then((snapshot) => {
          // Once the image is uploaded, obtain the download URL, which
          // is the publicly accessible URL of the image.
          return snapshot.ref.getDownloadURL().then((url) => {
            return url
          })
        })
        .catch((error) => {
          console.error('Error uploading image', error)
        })
        .then((url) => {
          this.imageUrl = url
          this.$emit('update:imageUrl', url)
        })
    }
  }
}
</script>
