<template>
  <div class="level is-mobile">
    <div class="level-item has-text-centered">
      <nuxt-link to="/new-note">
        <img src="~assets/img/btn_note.svg" alt="New note" />
      </nuxt-link>
    </div>
    <div class="level-item has-text-centered">
      <nuxt-link to="/new-recipe">
        <img src="~assets/img/btn_recipe.svg" alt="New recipe" />
      </nuxt-link>
    </div>
    <div class="level-item has-text-centered">
      <nuxt-link to="/new-photo">
        <img src="~assets/img/btn_photo.svg" alt="New photo" />
      </nuxt-link>
    </div>
  </div>
</template>
<script>
export default {}
</script>
<style scoped lang="scss">
.level {
  margin: 10px 0;
}
</style>
