<template>
  <Post :post="note" @like:update="like">
    <div class="card-content post-img-content">
      <div class="content">
        {{ note.content }}
      </div>
    </div>
    <div v-if="!note.imageUrl" class="card-content post-text-content">
      <div class="content">
        {{ note.content }}
      </div>
    </div>
    <template slot="modalContent">
      {{ note.content }}
    </template>
  </Post>
</template>

<script>
import { mapActions } from 'vuex'
import Post from '~/components/Post'
import { ADD_LIKE_ACTION, REMOVE_LIKE_ACTION } from '~/action-types'
export default {
  name: 'Note',
  components: { Post },
  props: {
    note: {
      type: Object,
      required: true,
      default: () => {}
    }
  },
  methods: {
    ...mapActions('notes', [ADD_LIKE_ACTION, REMOVE_LIKE_ACTION]),
    like() {
      if (this.note.likedByUser) {
        this[REMOVE_LIKE_ACTION]({
          post: this.note,
          user: this.$fireAuth.currentUser
        })
      } else {
        this[ADD_LIKE_ACTION]({
          post: this.note,
          user: this.$fireAuth.currentUser
        })
      }
      this.note.likedByUser = !this.note.likedByUser
    }
  }
}
</script>

<style scoped></style>
