<template>
  <section>
    <div class="tile is-parent is-vertical">
      <div class="tile is-child">
        <figure class="image">
          <img :src="photo.imageUrl" @click="openCloseModal" alt="" />
        </figure>
      </div>
      <b-modal
        :active.sync="isCardModalActive"
        :can-cancel="[...(this.$device.isDesktop ? ['x', 'outside'] : [])]"
        :on-cancel="openCloseModal"
        full-screen
        has-modal-card
        scroll="keep"
      >
        <div @click="openCloseModal" class="card modal_card">
          <div class="card-image">
            <figure class="image is-fullwidth">
              <img :src="photo.imageUrl" alt="Image" />
              <div class="is-overlay is-align-bottom">
                <div class="level is-mobile">
                  <div class="level-left">
                    <div class="level-item likes-counter">
                      <span>{{ photo.likes }} likes</span>
                    </div>
                  </div>
                  <div class="level-right">
                    <div class="level-item">
                      <b-icon
                        :class="[photo.likedByUser ? 'is-red' : 'is-white']"
                        @click.native.stop="like"
                        icon="heart"
                      >
                      </b-icon>
                    </div>
                  </div>
                </div>
              </div>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img
                    :src="photo.user.photo"
                    alt="Image"
                    class="is-rounded"
                    style="object-fit:cover;width: 100%;height: 100%;"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{ photo.user.username }}</p>
                <p class="is-size-7 has-text-gray">{{ photo.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </b-modal>
    </div>
  </section>
</template>
<script>
import { mapActions } from 'vuex'
import { ADD_LIKE_ACTION, REMOVE_LIKE_ACTION } from '@/action-types'

export default {
  props: {
    photo: {
      type: Object,
      required: true,
      default: () => {}
    }
  },
  data() {
    return {
      isCardModalActive: false
    }
  },
  beforeDestroy() {
    this.$root.$off('closeDialog')
  },
  methods: {
    ...mapActions('photos', [ADD_LIKE_ACTION, REMOVE_LIKE_ACTION]),
    like() {
      if (this.liked) {
        this[REMOVE_LIKE_ACTION]({
          photo: this.photo,
          user: this.$fireAuth.currentUser
        })
      } else {
        this[ADD_LIKE_ACTION]({
          photo: this.photo,
          user: this.$fireAuth.currentUser
        })
      }
      this.liked = !this.liked
    },
    openCloseModal() {
      if (this.isCardModalActive) {
        this.isCardModalActive = false
        this.$root.$emit('dialogClosed', {})
        this.$root.$off('closeDialog')
      } else {
        this.isCardModalActive = true
        this.$root.$emit('dialogOpened', {})
        this.$root.$on('closeDialog', () => {
          this.openCloseModal()
        })
      }
    }
  }
}
</script>
