<template>
  <b-modal
    :active="isCardModalActive"
    :on-cancel="openCloseModal"
    :can-cancel="['x']"
    full-screen
    has-modal-card
    scroll="keep"
  >
    <div class="card post-modal">
      <div class="card-image">
        <figure class="image is-fullwidth">
          <img :src="post.imageUrl" alt="Image" />
        </figure>
      </div>
      <div class="post-content">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img
                  v-if="post.user.photo"
                  :src="post.user.photo"
                  alt="Image"
                  class="is-rounded"
                  style="object-fit:cover;width: 100%;height: 100%;"
                />
              </figure>
            </div>
            <div class="media-content is-align-self-center">
              <p class="title is-4">{{ post.user.username }}</p>
            </div>
          </div>
          <div class="content">
            <slot />
          </div>
        </div>
      </div>
    </div>
  </b-modal>
</template>
<script>
export default {
  name: 'PostModal',
  props: {
    isCardModalActive: {
      type: Boolean,
      default: false
    },
    openCloseModal: {
      type: Function,
      default: () => ({})
    },
    post: {
      type: Object,
      default: () => {}
    }
  }
}
</script>
<style scoped lang="scss">
@import '~assets/scss/variables.scss';

figure {
  margin: 0;
}

.card {
  margin: 1em auto;
}
.content {
  margin-bottom: 1em;
}
</style>
