<template>
  <div class="container has-text-centered postinline-wrapper">
    <section class="section is-small">
      <b-field>
        <b-input
          @click="expanded = !expanded"
          placeholder="What's on your mind...?"
          type="text"
        >
        </b-input>
      </b-field>
      <div v-if="expanded" class="is-hidden">
        <b-button>Post</b-button>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      expanded: false,
      value: ''
    }
  }
}
</script>
