<template>
  <div :class="'card is-centered recipe-step ' + (editable ? 'editable' : '')">
    <span>Step {{ id + 1 }}</span>
    <p class="title is-4 is-unspaced is-justify">{{ title }}</p>
    <p class="content">{{ content }}</p>
    <figure class="image is-2by1">
      <img :src="img" alt="" class="is-square" />
    </figure>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    },
    content: {
      type: String,
      default: ''
    },
    img: {
      type: String,
      default: ''
    },
    id: {
      type: Number,
      default: 0
    },
    editable: {
      type: Boolean,
      required: false,
      default: false
    }
  }
}
</script>
