<template>
  <Post :post="recipe" @like:update="like">
    <div class="card-content post-text-content">
      <div class="content">
        <p class="title is-4">{{ recipe.title }}</p>
        <p class="subtitle is-6">
          {{ recipe.coffee_type }}
          <span class="is-aligned-right">
            (1 : {{ Math.round(recipe.water_amount / recipe.coffee_amount) }})
          </span>
        </p>
        <div class="ratios my-1">
          <p class="my-0">
            Coffee: {{ recipe.coffee_amount }} g ({{ recipe.coffee_grind }})
          </p>
          <p class="my-0">Water: {{ recipe.water_amount }} ml</p>
        </div>
        <p>{{ recipe.description }}</p>
      </div>
    </div>
    <template slot="modalContent">
      <p class="title is-4">{{ recipe.title }}</p>
      <p class="subtitle is-6 is-white">{{ recipe.coffee_type }}</p>
      <div class="ratios my-1">
        <p class="my-0">
          Coffee: {{ recipe.coffee_amount }} g ({{ recipe.coffee_grind }})
        </p>
        <p class="my-0">Water: {{ recipe.water_amount }} ml</p>
      </div>
      <p>{{ recipe.description }}</p>
    </template>
  </Post>
</template>

<script>
import { mapActions } from 'vuex'
import { ADD_LIKE_ACTION, REMOVE_LIKE_ACTION } from '~/action-types'
import Post from '~/components/Post'
export default {
  components: { Post },
  props: {
    recipe: {
      type: Object,
      required: true,
      default: () => {}
    }
  },
  methods: {
    ...mapActions('recipes', [ADD_LIKE_ACTION, REMOVE_LIKE_ACTION]),
    like() {
      if (this.recipe.likedByUser) {
        this[REMOVE_LIKE_ACTION]({
          post: this.recipe,
          user: this.$fireAuth.currentUser
        })
      } else {
        this[ADD_LIKE_ACTION]({
          post: this.recipe,
          user: this.$fireAuth.currentUser
        })
      }
      this.recipe.likedByUser = !this.recipe.likedByUser
    }
  }
}
</script>
